%raleway-regular {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
%raleway-medium {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

%raleway-bold {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

$bg-color: #e5e5e5;
$purple: #4a1abb;
$border-color: #c7c7c7;
$grey: #818181;
